@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.welcome {
  min-height: 92vh;
}

.logo-ead {
  position: relative;
  top: 115px;
}

.toast {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.foto span {
  position: absolute;
  top: 39px;
  left: 120px;
}
